/HW3/nbproject/private/
/HW3/build/
/HW3/dist/
/SpringApp1/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/SpringApp/nbproject/private/
/SpringApp/build/
/HW4/nbproject/private/
/HW4/build/